@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  height: 100vh;
}

body {
  background-color: #B28B84;
  font-family: 'Montserrat', sans-serif;
  color: #dedede;
}

.navlink {
  background-color: blueviolet;
}

.main {
  margin: 0 auto;
  display: flex;
  width: 50%;
  height: 70%;
  background-color: #331E38;
  border-radius: 10px;
}

.to-do-area {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.to-do-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.to-do-button {
  background-color: #95B2B8;
}

