@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  height: 100vh;
}

body {
  background-color: gray;
  font-family: 'Montserrat', sans-serif;
}

.navlink {
  background-color: blueviolet;
}

.main {
  margin: 0 auto;
  display: flex;
  width: 50%;
  height: 70%;
  background-color: rgb(185, 174, 159);
}
